<section>
    <div class="caja">
      <img src="https://images.pexels.com/photos/1194713/pexels-photo-1194713.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
      <img src="https://lh3.googleusercontent.com/a/AGNmyxaW6KxBCvkgicL3wnN1SVlaRt1HyRcz-4GghHIfNQ=s432" alt="Diego Castillo" id="foto">
      <div class="portada"> 
        <p>Diego Castillo</p>
        <p>Ingeniero Electrónico</p>
        <p>Frontend Developer</p>
      </div>
      <div class="pais">
        <img id="bandera" src="https://images.emojiterra.com/twitter/v13.1/512px/1f1fb-1f1ea.png" alt="Venezuela">
        <p>Venezuela</p>
        <p>Puerto Cumarebo, estado Falcón</p>
      </div>
      <div class="descripcion">
        <p>De reparaciones electronicas <br> a desarrollar paginas web.
        </p>
      </div>
    </div>
  </section>