<aside>
    <div>
        <h1>Redes sociales</h1>
        <a href="https://twitter.com/DiegoCasR"><img src="https://www.svgrepo.com/show/475689/twitter-color.svg" alt="Twitter"></a> 
        <a href="https://www.facebook.com/profile.php?id=1584592811"><img src="https://www.svgrepo.com/show/452196/facebook-1.svg" alt="Facebook"></a>
        <a href="https://github.com/DCastle7"><img src="https://www.svgrepo.com/show/450156/github.svg" alt="Github"></a>
        <a href="https://www.instagram.com/dcastle78/"><img src="https://www.svgrepo.com/show/452229/instagram-1.svg" alt="Instagram"></a>
        <a href="https://www.linkedin.com/in/diego-castillo-rosas/"><img src="https://www.svgrepo.com/show/452051/linkedin.svg" alt="linkedin"></a>
    </div>
</aside>